<div id="<%= dom_id comentario %>">
  <p>
    <strong>Nombre:</strong>
    <%= comentario.nombre %>
  </p>

  <p>
    <strong>Texto:</strong>
    <%= comentario.texto %>
  </p>

  <p>
    <strong>Articulo creado el día:</strong>
    <%= comentario.created_at.strftime("%d-%m-%Y %H:%M") %>
  </p>

  <%= button_to "Borrar", [comentario.articulo, comentario], method: :delete, class: "btn btn-danger", data: { confirm: 'Are you sure?' } %>

</div>
