<%= form_for([@articulo, @articulo.comentarios.build]) do |form| %>
  
  <div>
    <%= form.label :nombre, style: "display: block" %>
    <%= form.text_field :nombre %>
  </div>

  <div>
    <%= form.label :texto, style: "display: block" %>
    <%= form.text_area :texto %>
  </div>

  <div>
    <%= form.submit "Crear comentario", disable_with: 'Submiting...', class: "btn btn-primary" %>
  </div>
<% end %>
