<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    
    <span class="badge bg-secondary"><%= image_tag("rails-logo.png", width: 70) %></span>
    <%= link_to "Inicio", home_index_path, class:"nav-link" %>
    
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        <% if user_signed_in? %>

          <li class="nav-item">
            <%= link_to "Nuevo Artículo", new_articulo_path, class:"nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Lista de Artículos", articulos_path, class:"nav-link" %>
          </li>

          <li class="nav-item">
              <%= link_to "Contacto", estaticas_contacto_path, class:"nav-link" %>
          </li>

          <li class="nav-item">
              <%= link_to "Acerca de ..", estaticas_nosotros_path, class:"nav-link" %>
          </li>
          
          <li class="nav-item">
            <%= link_to "Editar Usuario", edit_user_registration_path, class:"nav-link" %>
          </li>

          <li class="nav-item">
            <%= button_to "Cerrar Sesión", destroy_user_session_path, method: :delete, class:"btn btn-secondary" %>
          </li>
          

        <% else %>

          <li class="nav-item">
            <%= link_to "Iniciar Sesión", new_user_session_path, class:"nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Registro de Usuario", new_user_registration_path, class:"nav-link" %>
          </li>
        
        <% end %>
        
      </ul>
      
    </div>
  </div>
</nav>
