<h1><%= @articulo.titulo %></h1>

<p><%= @articulo.contenido %></p>

<p>Creado el día: <%= @articulo.created_at.strftime("%d-%m-%Y %H:%M") %></p>

<%= link_to "Editar", edit_articulo_path(@articulo), class: "btn btn-info" %>
<br/>
<br/>
<%= button_to "Borrar", @articulo, method: :delete, class: "btn btn-danger", data: { confirm: 'Are you sure?' } %>
