<div class="card"
>
  <div class="card-body">
    
    <h1 class="card-title"><%= @articulo.titulo %></h1>

    <p class="card-text"><%= @articulo.contenido %></p>

    <p class="card-text">Creado el día: <%= @articulo.created_at.strftime("%d-%m-%Y %H:%M") %></p>

    <%= link_to "Editar", edit_articulo_path(@articulo), class: "btn btn-info" %>
    <%= button_to "Borrar", @articulo, method: :delete, class: "btn btn-danger", data: { confirm: 'Are you sure?' } %>

    <br/>
    <p class="card-text"><%= @articulo.comentarios.count %> Comentarios:</p>
    <%= render @articulo.comentarios %>
    
    <br/>
    <p class="card-text">Deja tu comentario:</p>
    <%= render 'comentarios/form' %>
    
  
  </div>
</div>


